

<form class="mx-0 row gx-3 gy-4 mt-3">
<div class="col-md-6">
  <label for="inputfirstName4" class="form-label">First Name:</label>
  <input
    placeholder="Ali..."
    type="text"
    class="form-control"
    id="inputfirstName4"
  />
</div>
<div class="col-md-6">
  <label for="inputlastName4" class="form-label">Last Name:</label>
  <input
    placeholder="Hassan..."
    type="text"
    class="form-control"
    id="inputlastName4"
  />
</div>

<div class="col-md-6">
  <label for="inputemail4" class="form-label">Email:</label>
  <input
    placeholder="ali@gmail.com"
    type="email"
    class="form-control"
    id="inputemail4"
  />
</div>
<div class="col-md-6">
  <label for="inputtele4" class="form-label">Telephone:</label>
  <input
    placeholder="011987899"
    type="number"
    class="form-control"
    id="inputtele4"
  />
</div>

<div>
  <div class="col-md-6">
    <label for="inputage4" class="form-label">Age:</label>
    <input
      placeholder="Your Age: ..."
      type="number"
      class="form-control"
      id="inputage4"
    />
  </div>
</div>

<div>
  <div class="col-md-6">
    <label for="inputCountry" class="form-label">Country:</label>
    <select id="inputCountry" class="form-select">
      <option selected hidden disabled>Choose here ...</option>

      <option>Morocco</option>
      <option>Egypt</option>
    </select>
  </div>
</div>

<div>
  <div class="col-md-6">
    <label for="inputGender" class="form-label">Gender:</label>
    <select id="inputGender" class="form-select">
      <option selected hidden disabled>Choose here ...</option>
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>
</div>

<div class="col-12">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
